<!DOCTYPE html>
<html>
  <head>
    <title>CheatDayMaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-52M86YJ7Y8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-52M86YJ7Y8');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="content-type" charset="utf-8">

    <meta name="keywords" content="CheatDayMaster, チートデイマスター, ダイエット, やけ食い, チートデイ, 食事, 食品, 食べ物, 大食い, 飲食店, 爆食" />
    <meta name="description" content="CheatDayMasterはチートデイややけ食いをサポートするサービスです。飲食店や通販の食品情報を様々なサイトからオススメします。">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="CheatDayMaster（チートデイマスター） - 1日だけ食べ物のことだけ考えませんか？" />
    <meta property="og:description" content="CheatDayMasterはチートデイや,やけ食いをサポートするサービスです。飲食店や通販の食品情報を様々なサイトからオススメします。" />
    <meta property="og:site_name" content="CheatDayMaster（チートデイマスター）" />
    <meta property="og:image" content="https://www.cheatday-master.com/img/ogp.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://www.cheatday-master.com/img/ogp.png" />
    <meta name="twitter:site" content="CheatDayMaster（チートデイマスター）">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
